<!DOCTYPE html>
<html lang = "en">
    <head>

    <title>Delete page</title>
    </head>

    <body>

        <div class="miniwrap2">
            <h2>Are you sure you want to delete the following sighting?</h2>
            <h4>ID: {{sighting.Unique_Squirrel_ID}}</h4>

		<form  method="post">
		{% csrf_token %}
		<input id="action_id" type="hidden" name="action" value="Delete">
		
		<input type="submit" value="Delete" />
		</form>

		<a href="{% url 'sightings:index' %}">No, I don't want to delete it now. I would like to go back to the index page!</a>

        </div>

    </body>
</html>


