
<html>
    <head>

    </head>
    <body>

        <div class="miniwrap">
        <h1>ID: {{ sighting.Unique_Squirrel_ID }}</h3>
        <h3>Shift: {{ sighting.Shift }}</h3>
	<h3>Latitude: {{sighting.Latitude}}</h3>
	<h3>Date: {{sighting.Date}}</h3>
	<h3>Age: {{sighting.Age}}</h3>
	<h3> Primary_fur_color: {{sighting.Primary_fur_color}}</h3>
	<h3> Location: {{sighting.Location}}</h3>
	<h3> Specific_location: {{sighting.Specific_location}}</h3>
	<h3> Running: {{sighting.Running}}</h3>
	<h3> Chasing: {{sighting.Chasing}}</h3>
	<h3> Climbing: {{sighting.Climbing}}</h3>
	<h3> Eating: {{sighting.Eating}}</h3>
	<h3> Foraging: {{sighting.Foraging}} </h3>
	<h3> Other_Activities: {{sighting.Other_Activities}}</h3>
	<h3> Kuks: {{sighting.Kuks}} </h3>
	<h3> Quaas: {{sighting.Quaas}} </h3>
	<h3> Moans: {{sighting.Moans}} </h3>
	<h3>Tail_flags: {{sighting.Tail_flags}}</h3>
	<h3>Tail_twitches: {{sighting.Tail_twitches}}</h3>
	<h3>Approaches: {{sighting.Approaches}}</h3>
	<h3> Indifferent:{{sighting.Indifferent}}</h3>
	<h3> Runs_from {{sighting.Runs_from}}</h3>



	<p><a  href="{% url "sightings:delete" Unique_Squirrel_ID=sighting.Unique_Squirrel_ID%}"role="button">Delete</a> <br>
	
	<a href="{% url "sightings:update" Unique_Squirrel_ID=sighting.Unique_Squirrel_ID%}"role='button'>Update</a> <br>
	<a href='{% url 'sightings:index'%}'role='button'>Go back to the index page</a>
	</p>
        </div>
    </body>
</html>

