<html>
    <head>
        <title>This is the squirrels sightings report</title>
    </head>
    <body>
        <h1>squirrels sightings report</h1>
        <h2>These are all sightings {{sightings}} </h2> 
            {%if sightings%}
                <ul>
                    {%for sighting in sightings%}
                        <li>{{sighting.Unique_Squirrel_Id}}</li>
			<a href='/sightings/{{sighting.Unique_Squirrel_Id}}/'>See details about it and edit it!</a>
                    {%endfor%}
                </ul>
            {% else %}
                <p>There is no sightings at all</p>
            {%endif%}
	<a href='/sightings/add'>Add new data! </a>
	<h3> This page refers to  this part of the assignment: A view that lists all squirrel sightings with links to edit and add sightings</h3>

    </body>
</html>


