<!DOCTYPE html>
<html lang = "en">
    <head>
    <title>Stats Page</title>

    </head>
    <body>
        <h4>stats1: The number of squirrels: {{stats1}}</h4>
	<h4>stats2: Number of squirrels that runs away from people when they are sighted: {{stats2}}</h4>
	<h4>stats3: Number of squirrels that climbs on the tree when they are sighted: {{stats3}}</h4>
	<h4>stats4: Number of squirrels that are black : {{stats4}}</h4>
	<h4>stats5: Nuber of squirrels that are chasing when sighted: {{stats5}}</h4>

	<a href="{% url 'sightings:index' %}">Go back to the index page!</a>

    </body>
</html>
